{% extends 'root/template.html' %}

{% block title %}
    Main Page
{% endblock %}

{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'root/style.css' %}">
{% endblock %}


{% block body %}
    <h1 class="title">Halo, nama saya Mario Serano</h1>
    <h2>Berikut adalah story-story yang sedang/telah saya kerjakan selama masa PPW</h2>
    <h3>Saya masih belum styling main page ini karena kepepet deadline(mff,,)</h3>
    <ul>
        <a href="/story-0/"><button>Story0</button></a>
    </ul>
{% endblock %}