<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    {% block head %}{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PPW Story | {% block title %} {% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'templates/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'templates/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'templates/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'templates/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'templates/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'templates/root.css' %}">
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>